@use "../../Utils/variables";


.header {
    background-color: white;
    position: relative;
}
.logo {
    width: 160px;
}

.sticky {
    position: fixed;
    transform: translateX(-40%);
    top:0;
    left: 60px;
    background-color: transparent;
    width: 160px;
    z-index: 12;
    transition: transform 1s;

    @media(min-width: 769px) {
    transform: translateX(-50%);
    transition: unset;
    left: 50%;
    background-color: variables.$color1;
    width: 100%;
    max-width: 1600px;
    }
}