@use "../../Utils/variables";


.header {
    
    position: relative;

    &.Light {
        background-color: white;
    }
    &.Dark {
        background-color: variables.$color1;
        color: white;
        padding-bottom: 10px;
        border-bottom: solid 3px white;
    }
}
.logo {
    width: 160px;
    border-radius: 40px;
}

.sticky {
    position: fixed;
    transform: translateX(-40%);
    top:0;
    left: 60px;
    background-color: transparent;
    width: 160px;
    z-index: 12;
    transition: transform 1s;

    &.Dark {
        background-color: transparent;
        padding-bottom: 0;
        border-bottom: unset;
    }

    &.Light {
        background-color: transparent;
    }

    @media(min-width: 769px) {
    transform: translateX(-50%);
    transition: unset;
    left: 50%;
    background-color: variables.$color1;
    width: 100%;
    max-width: 1600px;
    }
}