@use "../../Utils/variables";
@use "../../Utils/keyframes";

.Bar {
width: 80%;
height: 20px;
border: solid 2px variables.$color1;
margin: auto;
position: relative;
margin-bottom: 10px;
color: black;
text-decoration: none;

&:hover {
    cursor: pointer;

    & .progressBar{
    opacity: 0.4;
    }
}

@media(min-width: 500px) {
    width: 405px;
}
}

.nameBar {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
    font-weight: 700;
}




.progressBar {
    position: absolute;
    height: 100%;
    left: 0;
    width: 0;
    animation: Evolution 0.8s both;
    opacity: 0.7;

    @for $j from 0 to 10 {
        &--#{$j} {
            animation-delay: 0.2s * $j ;
        }
    }

   

    &-5 {
        --max-width: 5%;
    }
    &-80 {
        --max-width: 80%;
    }
    &-60 {
        --max-width: 60%;
    }
    &-40 {
        --max-width: 40%;
    }
    &-50 {
        --max-width: 50%;
    }
    &-70 {
        --max-width: 70%;
    }
}

.color {
    &-DC4A25 {
            background-color: #DC4A25;
    }
    &-244BDD {
            background-color: #244BDD;
    }
    &-F86E60 {
            background-color: #F86E60;
    }
    &-815ABD {
            background-color: #815ABD;
    }
    &-EFD80B {
            background-color: #EFD80B;
    }
    &-5FD3F3 {
            background-color: #5FD3F3;
    }
    &-C76494 {
            background-color: #C76494;
    }
    &-C41F2D {
            background-color: #C41F2D;
    }
    &-7377AE {
            background-color: #7377AE;
    }
}

.progressBarNonAni {
    position: absolute;
    height: 100%;
    left: 0;
    opacity: 0.7;

    &-5 {
        width: 5%;
    }
    &-80 {
        width: 80%;
    }
    &-60 {
        width: 60%;
    }
    &-40 {
        width: 40%;
    }
    &-50 {
        width: 50%;
    }
    &-70 {
        width: 70%;
    }

}

.linkComp {
    display: block;
    margin: auto;
    width: 80%;

    @media(min-width: 500px) {
        width: 405px;
    }
}