@use "../../Utils/variables";
.home {
    background-color: #F5F5F5;
    padding-top: 20px;


    
}





.presentation {
    max-width: 80%;
    text-align: center;
    margin: auto;
    font-size: 16px;
    margin-bottom: 20px;
}

.lienHome {
    text-decoration: none;
    font-weight: 600;
    color: variables.$color1;
}


.mainPhoto {
max-width: 80%;
border: solid 2px variables.$color1;
border-radius: 20px;
}

.bold {
font-weight: bold;
font-style: italic;
}