@use "../../Utils/variables";
.home {
    background-color: #F5F5F5;
    padding-top: 20px;


    
}

.decal {
    margin-top: 183px;
}

h1, h2 {
    font-weight: 400;
    font-style: italic;
}

.separator {
    width: 30%;
    height: 1px;
    background-color: variables.$color1;
    margin: auto;
    margin-bottom: 20px;
}

.presentation {
    max-width: 80%;
    text-align: center;
    margin: auto;
    font-size: 16px;
    margin-bottom: 20px;
}


.mainPhoto {
max-width: 80%;
border: solid 2px variables.$color1;
border-radius: 20px;
}

.bold {
font-weight: bold;
font-style: italic;
}