@use "../../Utils/variables";
.home {

    padding-top: 20px;

    &.Dark {
        background-color: variables.$color1;
        color: #F5F5F5;
    }

    &.Light {
        background-color: #F5F5F5;
        color: variables.$color1;
    }

}


.CVLink {
    color: variables.$color1;

    &.Dark {
        color: #f5f5f5;
    }
}


.presentation {
    max-width: 80%;
    text-align: center;
    margin: auto;
    font-size: 16px;
    margin-bottom: 20px;

    @media(min-width: 768px) {
        font-size: 20px;
    }
}

.lienHome {
    text-decoration: none;
    font-weight: 600;

    &.Dark{
    color: #F5F5F5;
    }
    &.Light{
    color: variables.$color1;
    }
}


.mainPhoto {
max-width: 80%;
border: solid 2px variables.$color1; 
border-radius: 20px;

&.Dark {
    border-color: #F5F5F5;
}

@media(min-width: 426px) {
    max-width: 350px;
}
}

.bold {
font-weight: bold;
font-style: italic;
}