@use "../../Utils/variables";
@use "../../Utils/mixins";

.invisible {
    width: 0;
    height: 0;
    
 
    & .onglet {
        opacity: 0;
        position: absolute;

    }

    @media(min-width: 769px) {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        background-color: variables.$color1;

        & .onglet {
            opacity: 1;
            position: relative;
            background-color: variables.$color1;
        color: white;
        font-size: 1.2rem;
        height: 3rem;
        transition: opacity 1s;
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        padding-left: 10px;
        padding-right: 10px;
        margin: 1px;

        &:hover {
            background-color: white;
            color: variables.$color1;
        }
        }

        .ongletActif {

            background-color: white;
            color: variables.$color1;
        
            @media(min-width: 1100px) {
                background-color: variables.$color1;
                color: white;
            border: 2px solid white;
            border-radius: 10px;}
        
        }

        @media(min-width: 1100px) {
            justify-content: flex-end;
            gap: 30px;

            & .onglet--5 {
                margin-right:  30px
            }
        }
    }
}
.visible {
    width: auto;
    height: 15rem;
    transition: 1.3s;

   

    & .onglet {
        background-color: variables.$color1;
        color: white;
        font-size: 1.2rem;
        height: 3rem;
        position: relative;
        opacity: 1;
        transition: opacity 1s;
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;

        @for $i from 1 to 6 {
            &--#{$i} {
                transition-delay: 200ms*$i;
            }
        }

        &:hover {
            background-color: white;
            color: variables.$color1;
        }

        
    }

    & .ongletActif {

        background-color: white;
        color: variables.$color1;
    
        @media(min-width: 1100px) {
            background-color: variables.$color1;
            color: white;
        border: 2px solid white;
        border-radius: 10px;}
    
    }
}


.burger {

width: 100px;
height: 25px;
margin: auto;
margin-top: 20px;
display: flex;
justify-content: center; 
position: relative;
padding: 5px;




& .top {
   @include mixins.Burger;
   top: 5px;

   
}

& .topOpenned {
    transform: rotate(-45deg);
    top: 50%;
   }

& .middle {
    @include mixins.Burger;
    top: 15px;
}

& .middleOpenned {
    transform: translateX(-1000px);
}
& .bottom {
    @include mixins.Burger;
    top: 25px;
}
& .bottomOpenned {
    transform: rotate(45deg);
    top: 50%;
   }


   @media(min-width: 769px) {
    display: none;
   }
}


